/*font-family: 'Comfortaa', sans-serif;
font-family: 'Ubuntu', sans-serif;

Colors:
black: #fff;
pink: #FF8EFF;
blue: #87DAFE;


*/

body {
  background-color: black;
  background-image: url("./soundboard.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

section.search {

}

input#search {
  padding: 5px;
}

input#submit {
  font-family: 'Comfortaa', sans-serif;
  margin: 7px auto;
  padding: 6px;
  font-size: 1.2em;
  text-decoration: none;
  border-style: none;
  border: 1px solid #FF8EFF;
  background: -webkit-linear-gradient(#FF8EFF, #87DAFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  background-color:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 5%;
}


header p {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3em;
  text-align: center;
  background: -webkit-linear-gradient(#FF8EFF, #87DAFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form.search-form {
  margin: 1% 30%;
}

input#search {
  background-color: black;
  color: #FF8EFF;
  font-size: 1.0em;
  font-family: 'Comfortaa', sans-serif;
  padding: 10px;
  margin: 1px 6%;
  box-shadow: 0 0 3px #87DAFE;
}

input#search::placeholder {
  color: #87DAFE;
}

audio.music-player {
  margin: 0 38%;
}

section#results {
  background-color:rgba(0, 0, 0, 0.2);
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.fixed-content {
    display: block;
    max-height: 80%;
    overflow-y:scroll;
    overflow-x: scroll;
}

.results-div {
  font-family: 'Ubuntu', sans-serif;
  background-color:rgba(0, 0, 0, 0.5);
  color: #87DAFE;
  width: 80%;
  margin: 1% 0.5%;
  width: 20%;
  height: 20%;
  display: flex;
  flex-flow: column nowrap;
  border: 1px dotted #87DAFE;
  text-align: center;
}

.results-div img {
  height: 100px;
  width: 100px;
  margin: 5px auto;
  padding: 1%;
}

.results-div a {
  text-decoration: none;
  color: #FF8EFF;
  margin: 5px auto;
  line-height: 1.0em;
  /*padding: 1%;*/
}

.results-div p.results-track {
  margin: 5px auto;
  line-height: 1.0em;
  /*padding: 1%;*/
}

.results-div button {
  font-family: 'Comfortaa', sans-serif;
  margin: 7px auto;
  padding: 6px;
  font-size: 1.5em;
  text-decoration: none;
  border-style: none;
  border: 1px solid #FF8EFF;
  background: -webkit-linear-gradient(#FF8EFF, #87DAFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
